{:paths   ["src"]
 :deps    {com.xtdb/xtdb-api             {:mvn/version "2.0.0-b1"}
           com.xtdb/xtdb-core            {:mvn/version "2.0.0-b1"}
           com.xtdb/xtdb-http-client-jvm {:mvn/version "2.0.0-b1"}
           metosin/malli                 {:mvn/version "0.16.4"}
           org.clojure/clojure           {:mvn/version "1.12.0"}
           ring/ring-core                {:mvn/version "1.11.0"}
           ring/ring-jetty-adapter       {:mvn/version "1.11.0"}
           metosin/reitit-ring           {:mvn/version "0.7.2"}
           metosin/reitit-middleware     {:mvn/version "0.7.2"}
           integrant/integrant           {:mvn/version "0.8.0"}},
 :aliases {:xtdb {:jvm-opts    ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                                "-Dio.netty.tryReflectionSetAccessible=true"]}

           :dev  {:extra-paths ["dev"]
                  :extra-deps  {integrant/repl {:mvn/version "0.3.3"}}
                  :jvm-opts    ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                                "-Dio.netty.tryReflectionSetAccessible=true"]}

           :test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                               ring/ring-mock      {:mvn/version "0.4.0"}}
                  :jvm-opts   ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                               "-Dio.netty.tryReflectionSetAccessible=true"]
                  :exec-fn    kaocha.runner/exec-fn
                  :exec-args  {}}

           :watch-test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                                     ring/ring-mock      {:mvn/version "0.4.0"}}
                        :jvm-opts   ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                                     "-Dio.netty.tryReflectionSetAccessible=true"]
                        :exec-fn    kaocha.runner/exec-fn
                        :exec-args  {:watch?     true
                                     :skip-meta  :slow
                                     :fail-fast? true}}}}
